#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.ipch
*.res
*.sdf
*.opensdf
*.tlog
*.idb
*.dll
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#python
*.pyc
__pycache__

#emacs
*~
\#*\#
\.\#*

#this project
query.*
zones.*
named.conf
*.key
